RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|fonts|frontfiles|js|image|upload|mapimg|mapicons|bootstrap|build|dist|plugins|robots\.txt)
RewriteRule ^(.*)$ /patnaswm/index.php?$1 [L]
